.main-wrapper {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  position: absolute;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  background: white;

  .sidebar {
    width: 129px;
    height: 100%;
    position: fixed;
    background: white;
    color: #606060;
    transition: all 0.3s ease 0s;
    z-index: 1010;

    &.largeSidebar {
      width: 300px;

      @media (max-width: 500px) {
        width: 100%;
        position: absolute;
      }
    }
  }
}

.main-panel {
  position: absolute;
  right: 0;
  padding: 33px 100px 0 0;
  height: calc(100% - 110px);

  @media (max-width: 700px) {
    padding-right: 10px;
  }

  &.large-sidebar {
    display: block;
    @media (max-width: 500px) {
      display: none;
    }
  }
}