<div class="flower" [style.background]="'#cccccc url(' +  flower.profile_picture  + ') no-repeat center'" [style.background-size]="'cover'">
    <div *ngIf="isLoggedIn" class="star-circle" [class.is-favorite]="flower.favorite">
      <img [src]="'assets/images/star' + (flower.favorite ? '_favorite' : '') + '.svg'">
    </div>

  <div class="flower-info">
    <div class="names">
      <p class="title">
        {{ flower.name }}
      </p>
      <p class="subtitle">
        {{ flower.latin_name }}
      </p>
    </div>
    <button class="sightings-button" [class.is-favorite]="flower.favorite">{{ flower.sightings + ' sighting' + (flower.sightings && flower.sightings === 1 ? '' : 's') }}</button>
  </div>
</div>
