@import "fonts";
@import "colors";

.btn-link {
  color: $green !important;
}

.btn-light.bg-primary.text-white {
  background: linear-gradient(270deg, $green 0%, $green 100%) !important;
}

.calendar-button {
  background: $green;
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  outline: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-button {
  @include main-font-regular;
  font-size: 14px;
  color: white;
  background: $blue;
  height: 32px;
  margin: 0;
  padding: 0 10px;
  border: none;
  box-shadow: none;
  outline: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
