$black-main: #334144;
$grey-main: #949EA0;
$grey-secondary: #F5F6F7;
$grey-light: #DFE5EA;
$white: #FFFFFF;
$orange-main: #EAA79E;
$orange-secondary: #ECBCB3;
$error-main: #CF3A3A;
$yellow: #F6CA65;
$blue: #005B96;
$black: #000000;


