$black-main: #334144;
$grey-main: #949EA0;
$grey-secondary: #F5F6F7;
$grey-light: #7E8299;
$white: #FFFFFF;
$orange-main: #EAA79E;
$orange-secondary: #ECBCB3;
$error-main: #CF3A3A;
$yellow: #F6CA65;
$blue: #005B96;
$dark-blue: #011F4B;
$light-blue: #F1FAFE;
$green: #1BC5BD;
$black: #000000;
$grey: #7E8299;


