@import "fonts";
@import "colors";

.calendar-input {
  @include main-font-regular;
  font-size: 14px;
  background: $green;
  color: white;
  width: 115px;
  padding: 0 20px;
  height: 32px;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: none;
  outline: none;

  &::placeholder {
    color: white;
  }
}

.total-info {
  @include main-font-bold;
  font-size: 16px;
  color: $dark-blue;
  display: flex;
  align-items: center;
  width: 100%;
  background: $light-blue;
  border-radius: 10px;
  height: 53px;
  padding: 0 19px;
  text-transform: uppercase;
  margin-top: 27px;

  &.margin-top {
    margin-top: 15%;
  }
}