@import "fonts";
@import "colors";

.calendar-input {
  @include main-font-regular;
  font-size: 14px;
  background: $green;
  color: white;
  width: 115px;
  padding: 0 20px;
  height: 32px;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: none;
  outline: none;

  &::placeholder {
    color: white;
  }
}
